/* IMPORTS */

@font-face{
    font-family: alef;
    src: url(fonts/Alef-Regular.ttf) format('truetype');
}
@font-face{
    font-family: alef_bold;
    src: url(fonts/Alef-Bold.ttf) format('truetype');
}

/* SETTINGS */

$back-color:    #FF9B66;
$nav-color:     #5A6FD8;
$font-color:    LightSlateGray;
$s-font-color:  #fff;

$s-font: 'alef_bold' , sans-serif;
$font:   'alef'      , sans-serif;

$window:        50%;
$window-s:      60%;
$window-xs:     70%;
$window-xxs:    90%;
$window-m:      100%;

$break-s:       1410px;
$break-xs:      1180px;
$break-xxs:     1003px;
$break-m:       480px;