/* IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Alef:400,700);

/* SETTINGS */

$back-color:    #FF9B66;
$nav-color:     #5A6FD8;
$font-color:    LightSlateGray;
$s-font-color:  #fff;

$font: 'Alef', sans-serif;

$window:        50%;
$window-s:      60%;
$window-xs:     70%;
$window-xxs:    90%;
$window-m:      100%;

$break-b:       1840px;
$break-s:       1430px;
$break-xs:      1180px;
$break-xxs:     1003px;
$break-m:       575px;