/* IMPORTS */
/* IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Alef:400,700);
/* SETTINGS */
/* SETTINGS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased; }

::selection {
  background: #2ecc71;
  color: white; }

::-moz-selection {
  background: #2ecc71;
  color: white; }

.nobpadding {
  padding-bottom: 0 !important; }

.clearer {
  clear: both; }

* {
  font-family: "Alef", sans-serif;
  margin: 0; }

html {
  max-height: 100%; }

body {
  overflow-x: hidden;
  width: 100%;
  max-height: 100%; }

#nav_but, .navshadow, #mobilenav {
  display: none; }

.wrap {
  background: #5A6FD8;
  width: 100vw;
  position: fixed;
  z-index: 50;
  height: 60px; }
  .wrap #nav {
    position: inherit;
    top: 12px;
    left: 50%;
    width: 50%;
    list-style-type: none;
    padding: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    text-align: center; }
    .wrap #nav li {
      display: inline-block;
      padding: 0 5%;
      text-align: center; }
      .wrap #nav li a {
        color: #fff;
        font-size: 1.4em;
        text-decoration: none; }
        .wrap #nav li a:hover {
          text-decoration: underline; }
        .wrap #nav li a.on {
          text-decoration: underline; }

.content {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: auto; }
  .content #title {
    text-align: center;
    line-height: 25px;
    padding: 200px 0 1% 0;
    margin: 0 auto;
    width: 50%;
    font-size: 1.2em;
    color: LightSlateGray !important; }
    .content #title img {
      float: left;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      width: 180px;
      height: 180px; }
    .content #title span h1 {
      font-size: 2.2em; }
    .content #title span h2 {
      padding-top: 16px;
      font-size: 1.6em; }
  .content #about {
    text-align: right;
    line-height: 25px;
    padding: 150px 0 200px 0;
    margin: 0 auto;
    width: 55%;
    font-size: 1.2em;
    color: LightSlateGray !important; }
    .content #about.aboutspecial {
      padding-top: 100px; }
    .content #about h3 {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 1%;
      text-align: center;
      border-bottom: 2px solid LightSlateGray; }
    .content #about p {
      padding-top: 2%; }
    .content #about p::first-letter {
      float: right;
      font-size: 75px;
      line-height: 50px;
      padding-top: 0;
      padding-right: 8px;
      padding-left: 3px; }
    .content #about span {
      display: block;
      padding-top: 2%; }
      .content #about span h1 {
        display: inline;
        font-size: 64px;
        line-height: 40px; }
        .content #about span h1.first {
          float: right; }
        .content #about span h1.second {
          float: left; }
    .content #about span.after {
      padding-top: 10%; }
  .content #map {
    width: 55%;
    margin: 2.35% auto 0 auto; }
    .content #map div {
      margin: 0 auto;
      text-align: center; }
      .content #map div#secondmap {
        padding-bottom: 200px;
        float: left; }
      .content #map div#firstmap {
        float: right; }
      .content #map div iframe {
        width: 500px;
        height: 400px; }
      .content #map div h5 {
        font-size: 1.2em;
        text-decoration: underline;
        margin-bottom: 2%; }
  .content .footer_wrap {
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5A6FD8; }
    .content .footer_wrap #footer {
      padding: 15px 0;
      text-align: center;
      margin: 0 auto;
      width: 55%;
      font-size: 1.2em; }
      .content .footer_wrap #footer * {
        font-weight: 700;
        color: #fff !important;
        text-decoration: none;
        padding: 0 1.5%; }

@media screen and (max-width: 1430px) {
  .wrap {
    height: 50px; }
    .wrap #nav {
      top: 8px !important;
      width: 60%; }

  .content #about {
    width: 70%; }
  .content #footer {
    width: 90% !important; }

  #map {
    width: 67% !important; } }
@media screen and (max-width: 1180px) {
  .wrap #nav {
    width: 70%; }

  #map div {
    float: none !important;
    margin: 0 auto; }
    #map div iframe {
      min-width: 45vw !important;
      min-height: 35vw !important; } }
@media screen and (max-width: 1003px) {
  .wrap #nav {
    width: 90%; }
    .wrap #nav li {
      padding: 0 3%; }

  .content #about {
    width: 85%; }

  .footer_wrap {
    height: 130px !important; }
    .footer_wrap #footer {
      height: 130px;
      text-align: center; }
      .footer_wrap #footer a {
        width: 100%;
        display: block; }
      .footer_wrap #footer span {
        display: none; } }
@media screen and (max-width: 575px) {
  .wrap #nav {
    width: 100%; }

  #title {
    padding-top: 120px !important; }
    #title span {
      line-height: 45px; }

  #about {
    padding-top: 120px !important; }
    #about p {
      padding-top: 10% !important; }
    #about span {
      padding-top: 10% !important; }
    #about span.after {
      padding-top: 80px !important; }

  #map {
    width: 90% !important; }
    #map div iframe {
      width: 80vw !important;
      height: 70vw !important; }

  #nav_but, .navshadow, #mobilenav {
    display: block; }

  #mobilenav {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%); }
    #mobilenav li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      line-height: 90px;
      font-size: 1.5em; }
    #mobilenav li a:hover {
      border-bottom: 7px solid white; }

  div.navshadow {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    filter: alpha(opacity=50); }

  #nav_but {
    cursor: pointer;
    position: fixed;
    z-index: 100;
    left: 3%;
    top: 4%;
    width: 60px;
    height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none; }
    #nav_but #toggle {
      width: 28px;
      height: 30px;
      margin: 10px auto; }
    #nav_but #toggle div {
      width: 100%;
      height: 5px;
      background: black;
      margin: 4px auto;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      backface-visibility: hidden; }
    #nav_but #toggle.on .one {
      -webkit-transform: rotate(405deg) translate(5px, 5px);
      -moz-transform: rotate(405deg) translate(5px, 5px);
      -o-transform: rotate(405deg) translate(5px, 5px);
      -ms-transform: rotate(405deg) translate(5px, 5px); }
    #nav_but #toggle.on .two {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -o-opacity: 0;
      -ms-opacity: 0; }
    #nav_but #toggle.on .three {
      -webkit-transform: rotate(-405deg) translate(7px, -8px);
      -moz-transform: rotate(-405deg) translate(7px, -8px);
      -o-transform: rotate(-405deg) translate(7px, -8px);
      -ms-transform: rotate(-405deg) translate(7px, -8px); }

  .wrap {
    display: none; } }
@media screen and (max-width: 1840px) {
  #map div iframe {
    max-width: 387.5px;
    max-height: 310px; } }

/*# sourceMappingURL=style.css.map */
