/* IMPORTS */
/* IMPORTS */
@font-face {
  font-family: alef;
  src: url(fonts/Alef-Regular.ttf) format("truetype"); }
@font-face {
  font-family: alef_bold;
  src: url(fonts/Alef-Bold.ttf) format("truetype"); }
/* SETTINGS */
/* SETTINGS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased; }

body {
  overflow-x: hidden; }

::selection {
  background: #2ecc71;
  color: white; }

::-moz-selection {
  background: #2ecc71;
  color: white; }

.clearer {
  clear: both; }

* {
  font-family: "alef", sans-serif;
  margin: 0; }

body {
  width: 100%; }

.wrap {
  background: #5A6FD8;
  width: 100vw;
  position: fixed;
  height: 60px; }
  .wrap #nav {
    position: inherit;
    top: 1.2vh;
    left: 50%;
    width: 50%;
    list-style-type: none;
    padding: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    text-align: center; }
    .wrap #nav li {
      display: inline-block;
      padding: 0 5%;
      text-align: center; }
      .wrap #nav li a {
        color: #fff;
        font-size: 1.4em;
        text-decoration: none; }
        .wrap #nav li a:hover {
          text-decoration: underline; }
        .wrap #nav li a.on {
          text-decoration: underline; }

.content {
  width: 100vw; }
  .content #title {
    text-align: center;
    line-height: 25px;
    padding: 200px 0 1% 0;
    margin: 0 auto;
    width: 50%;
    font-size: 1.2em;
    color: LightSlateGray !important; }
    .content #title img {
      float: left;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      width: 180px;
      height: 180px; }
    .content #title span h1 {
      font-size: 2.2em; }
    .content #title span h2 {
      padding-top: 16px;
      font-size: 1.6em; }
  .content #about {
    text-align: right;
    line-height: 25px;
    padding: 10% 0 0 0;
    margin: 0 auto;
    width: 55%;
    font-size: 1.2em;
    color: LightSlateGray !important; }
    .content #about h3 {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 1%;
      text-align: center;
      border-bottom: 2px solid LightSlateGray; }
    .content #about p {
      padding-top: 2%; }
    .content #about p::first-letter {
      float: right;
      font-size: 75px;
      line-height: 50px;
      padding-top: 0;
      padding-right: 8px;
      padding-left: 3px; }
    .content #about span {
      display: block;
      padding-top: 2%; }
      .content #about span h1 {
        display: inline;
        font-size: 64px;
        line-height: 40px; }
        .content #about span h1.first {
          float: right; }
        .content #about span h1.second {
          float: left; }
    .content #about span.after {
      padding-top: 8%; }
  .content #map {
    width: 55%;
    margin: 2.35% auto 0 auto; }
    .content #map div {
      width: 500px;
      text-align: center; }
      .content #map div#first {
        float: right; }
      .content #map div h5 {
        font-size: 1.2em;
        text-decoration: underline;
        margin-bottom: 2%; }
  .content .footer_wrap {
    position: relative;
    bottom: 0;
    margin-top: 10%;
    width: 100%;
    background: #5A6FD8; }
    .content .footer_wrap #footer {
      padding: 15px 0;
      text-align: center;
      margin: 0 auto;
      width: 55%;
      font-size: 1.2em; }
      .content .footer_wrap #footer * {
        font-family: "alef_bold", sans-serif;
        color: #fff !important;
        text-decoration: none;
        padding: 0 1.5%; }

@media screen and (max-width: 1410px) {
  .wrap {
    height: 50px; }
    .wrap #nav {
      width: 60%; }

  .content #about {
    width: 70%; }
  .content #footer {
    width: 90% !important; } }
@media screen and (max-width: 1180px) {
  .wrap #nav {
    width: 70%; } }
@media screen and (max-width: 1003px) {
  .wrap #nav {
    width: 90%; }
    .wrap #nav li {
      padding: 0 3%; }

  .content #about {
    width: 85%; }

  #footer {
    text-align: center; }
    #footer a {
      width: 100%;
      display: block; }
    #footer span {
      display: none; } }
@media screen and (max-width: 480px) {
  .wrap #nav {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
